
.completed-task {
    text-decoration: line-through;
}

.complete-button {
    background-color: transparent;
    border: 2px solid white;
    border-radius: 50%;
    color: white;
    font-size: 16px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    outline: none;
    margin-right: 10px;
}

.complete-button.completed {
    background-color:white;
    color: grey;
}

.completed-task {
    text-decoration: line-through;
}
